#Keep the site pdf file!
!site/*.pdf

#OS junk files
.DS_Store

#compile files
*.aux
*.bcf
*.log
*.fls
*.blg
*.out
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.auxlock
*.bbl
*.bbl-SAVE-ERROR
*.out
*.run.xml
*.toc
